<article class="article mb-4 {% if mainArticle %} article--main {% endif %} ">
    <a href="#" class="article__image mr-3">
    {% if mainArticle %}
        <img class="img--200" src="<faker-image-image/>">
    {% else %}
        <img class="img--100" src="<faker-image-image/>">
    {% endif %}
    </a>
    <h2 class="article__heading mb-3"><faker-lorem-sentence/></h2>

    <p>
    {% if mainArticle %}
      <faker-lorem-paragraphs/>
    {% else %}
      <faker-lorem-paragraph/>
    {% endif %}
    </p>
</article>
