
{{ hello }}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for menu in navbar %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ menu.url }}">{{ menu.link }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
