<aside class="sidebar py-3">
    <form class="form-inline mb-3 d-flex text-right ">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="box mb-3 ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum doloremque ea eaque enim explicabo id
            iste nesciunt odio possimus provident quia reprehenderit rerum, sapiente, sed, sit soluta tempora
            voluptatem?</p>
    </div>

    <div class="box mb-3 ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum doloremque ea eaque enim explicabo id
            iste nesciunt odio possimus provident quia reprehenderit rerum, sapiente, sed, sit soluta tempora
            voluptatem?</p>
    </div>

    <div class="box mb-3 ">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda cum doloremque ea eaque enim explicabo id
            iste nesciunt odio possimus provident quia reprehenderit rerum, sapiente, sed, sit soluta tempora
            voluptatem?</p>
    </div>
</aside>
